.table-main {
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 73%;
}

table {
  display: flex;
  flex-direction: column;
}

thead {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

tbody {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

tr {
  border-radius: 10px;
  width: 100%;
}

th {
  background-color: rgba(192, 131, 78, 0.55);
  border-radius: 10px;
  padding: 10px;
  width: 130px;
}

td {
  border-left: 1px solid black;
  margin-top: -5px;
  padding: 10px;
  text-align: center;
  width: 130px;
}

td:nth-of-type( 1 ) {
  border-left: none;
}


.remove-btn {
  background-color: rgb(246, 54, 54);
  border-radius: 10px;
  color: white;
  height: 35px;
  margin: 5px;
  padding: 5px;

}

.edit-btn {
  background-color: rgb(1, 121, 37);
  border-radius: 10px;
  color: white;
  height: 35px;
  margin: 5px;
  padding: 5px;
}

